@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
body {
	font-family: 'Roboto', sans-serif;
    background-size: 200%;
	/*background: linear-gradient(30deg,rgba(194, 255, 197, 0.7) 10% , rgba(154, 213, 255, 0.7) 50%);*/
}
a
{
	text-decoration: none;
}
.header {
	background-size: cover;
    background-position: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url(../hinh_anh/background4.jpg);
}
.slideshow {
	color: #000;
	height: 500px;
	overflow: hidden;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5)), url(../hinh_anh/slideshow/a_1.png);
	background-size: cover;
    background-position: center;
    z-index: 0;
}
.slideshow h1 {
	text-align: center;
    font-size: 70px;
    padding: 85px 0 60px;
    font-weight: bold;
}
.slideshow h2 {
	text-align: center;
    font-size: 40px;
    padding: 40px;
    font-weight: bold;
}
.slideshow img {
	width: 100%;
}
.login_button {
    position: absolute;
    top: 20px;
    right: 26px;
}
.user_name {
	font-size: 20px;
	display: inline-block;
    position: absolute;
    top: 31px;
    right: 96px;
    text-align: right;
    width: 400px;
    color: #ffc107;
}
.header {
	width: 100%;
	height: 150px;
	text-align: center;
}

.nav-bar {
	position: sticky;
    top: 0;
    background-color: #2d2d2de0;
	padding: 15px 0;
	height: 60px;
	text-align: center;
	z-index: 10;
}
.nav-bar a {
	color: #fff;
	padding: 10px 15px;
	margin: 0 15px;
	text-decoration: none;
	font-size:20px;
	transition: 0.3s;
	border-radius: 4px;
}
.nav-bar a:hover {
	background-color: #ffc107;
	color: #000;
	text-decoration: none;
}
.cart {
	display: inline-block;
	position: relative;
}
.caterogy {
	display: inline-block;
	position: relative;
}
.caterogy:hover .caterogy_wrapper {
	display: block !important;
	z-index: 1;
}

.cart:hover .cart_wrapper {
	display: block !important;
	z-index: 1;
}
.cart_wrapper {
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: none;
    width: 350px;
    position: absolute;
    right: -110px;
    top: 50px;
    background-color: #fff;
    padding: 5 25px;
}
.delete {
	display: inline-block;
    width: 60px !important;
}
.product_in_cart {
	display: inline-block;
	padding: 3px 0;
	font-size: 16px;
}
.title_in_cart {
	font-size: 18px; 
	padding-bottom: 3px;
	margin-bottom: 3px;
	display: inline-block; 
	border-bottom: 1px solid #000;
}

.caterogy_wrapper {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: none;
    width: 250px;
    position: absolute;
    left: -48px;
    top: 50px;
    background-color: #fff;
    padding: 0 20px;

}
.caterogy_wrapper a {
	color: #000 !important;
}

.left-container {
	width: 20%;
	display: inline-block;
	float: left;
}
.main-container {
	color: #fff;
	width: 100%;
	display: inline-block;
	min-height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url(../hinh_anh/background.jpg);
	background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

#main_product {
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url(../hinh_anh/background.jpg);
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#new_product {
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url(../hinh_anh/background2.jpg);
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 30px;
}
#hot_product {
	color: #fff;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.85)), url(../hinh_anh/background3.jpg);
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 30px;
}

.menu_doc a 
{
	margin: 15px 0 !important;
	text-decoration: none;
	display:block;
	text-align: center;
}
.menu_doc a:hover
{
	color: #fff;
}
.more {
	height: 50px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.more a 
{
	font-size:36px;
	margin-left:5px;
	margin-right:5px;
	text-decoration: none;
	color: #ffc107;
}
.more a:hover 
{
	color: #d39e00;
	text-decoration: none;
}

.product {
	display: inline-block;
	width: 33.33%;
	float: left;
	height: 500px;
	text-align: center;
}
.product img {
	width: 300px;
	height: 300px;
	border: 2px solid #fff;
    border-radius: 15px;
}
.product_container {
	width: 80%;
	margin: auto;
}
.product a.product_name {
	display: block;
    width: 100%;
    font-size: 28px;
    padding: 15px 0 10px 0;
    color: #ffc107;
}
.product a.product_name:hover {
	text-decoration: none;
	color: #d39e00;
}
.price {
	display: block;
	font-size: 20px;
    width: 100%;
}
.title {
	text-align: center;
}
.title span {
	display: block;
	padding: 40px;
	font-size: 40px;
}
.guidetitle {
	color: #ffc107;
	font-size: 30px;
	display: block;
	padding: 20px;
}
.product_name {
	display: block;
	padding: 25px;
}
.name_detail {
	font-size: 25px;
	padding: 32px 0;
}
.name_detail span {
	display: inline-block;
}
.name_detail a {
	color: #ffc107;
}
.name_detail a:hover {
	color: #d39e00;
	text-decoration: none;
}
.noti {
	display: block;
    width: 100%;
    padding: 50px 10%;
    font-size: 30px;

}
.fail_noti {
	font-size: 20px;
	text-align: center;
	padding-top: 30px;
}
.search_input {
	background-color: #f2f2f2;
	margin-right: 10px !important;
    color: #43454b;
    outline: 0;
    border: 0;
    padding: 1.25rem .75rem !important;
}
.search_wrapper {
	width: 300px;
	position: absolute;
	padding: 10px;
    top: 75px;
    right: 15px;

}

.footer {
	display: inline-block;
	background-color: #f0f0f0;
	text-align: center;
	width: 100%;
	height: 150px;
}
.footer span {
	font-size: 25px;
	display: block;
	padding: 30px;
}

.about .member {
	width: 49.7%;
	display: inline-block;
	text-align: center;
	margin: 3% 0;
}
.about .member img {
	border-radius: 50%;
	width: 250px;
}
.about .member_name {
	font-size: 30px;
	color: #ffc107;
	display: block;
	padding-top: 30px;
}
.web_icon {
	border-radius: 50%;
    width: 100px;
    float: left;
    margin: 25px 0 0 105px;
}
.checked {
	color: orange;
}
.review {
	float: left;
	margin-top: -130px;
}
.avatar_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.user_avatar {
	width: 40px;
    display: block;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}
.comment {
	margin-left: 70px;
	margin-top: 5px;
}
.review_comment {
	margin-bottom: 21px;
    padding-bottom: 15px;
    border-bottom:1px solid rgba(0,0,0,.09) ;
}





.rate {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
}

input {
  display: none;
}

label {
  float: right;
  font-size: 0;
  color: #d9d9d9;
}

fieldset label:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 30px;
}

label:hover,
label:hover ~ label {
  color: orange;
  transition: 0.2s;
}

input:checked ~ label {
  color: orange;
}

input:checked ~ label:hover,
input:checked ~ label:hover ~ label {
  color: orange;
  transition: 0.2s;
}
.login_box i{
	color: #464646;
    font-size: 23px;
    /*margin-right: 10px;*/
    /*border-right: 2px solid #464646;*/
    /*padding-right: 12px;*/
    padding: 3px;
}
.login_box {display: inline-block;
    position: absolute;
    /* top: 23px; */
    right: -9px;
    padding: 10px;
    font-size: 16px;
    background-color: #ffc107;
    border-radius: 40px;
}
.user_wrapper{
	border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    width: 175px;
    position: absolute;
    right: -5px;
    top: 54px;
    background-color: #fff;
    z-index: 11;
    padding: 6px;
}
.circle:hover .user_wrapper{
	display: block!important;
}
.circle{
   height: 60px;
    display: inline-block;
    width: 50px;
    /*background-color: red;*/
    position: absolute;
    top: 23px;
    top: 23px;
    right: 40px;
    z-index: 999;
}
.login_user_part{
    padding: 8px;
    /*background-color: #ffc107;*/
    margin: 5px;
    /* color: #fff; */
    border-radius: 7px;
    transition: 0.3s;
}
.login_user_part a{
	color:#000 ;
}
.login_user_part a:hover{
	color: #000 !important;
	text-decoration: none;
}
.login_user_part:hover {
	background-color: #ffc107;
}

.active {
	color: #dc3545 !important;
}